<div class="d-inline-flex">
	<h5 class="d-inline mr-2" style="font-weight:800;color:green;">Online(<span class="online-count" style="color:darkred;font-weight:300;"></span>)</h5>
</div>
<div class="row">
	<div class="col-lg-8">
		<p>
			Derkon
			<input type="checkbox" class="dorado" data-number="1" data-tipo="derkon" id="derkon1">
		</p>
		<p>
			Budge Dragon
			<input type="checkbox" class="dorado" data-number="1" data-tipo="budge" value="Activar" id="budge1">
			<input type="checkbox" class="dorado" data-number="2" data-tipo="budge" value="Activar" id="budge2">
			<input type="checkbox" class="dorado" data-number="3" data-tipo="budge" value="Activar" id="budge3">
		</p>
		<p>
			Goblin
			<input type="checkbox" class="dorado" data-number="1" data-tipo="goblin" value="Activar" id="goblin1">
			<input type="checkbox" class="dorado" data-number="2" data-tipo="goblin" value="Activar" id="goblin2">
			<input type="checkbox" class="dorado" data-number="3" data-tipo="goblin" value="Activar" id="goblin3">
		</p>
		<p>
			Rabbit
			<input type="checkbox" class="dorado" data-number="1" data-tipo="rabbit" value="Activar" id="rabbit1">
			<input type="checkbox" class="dorado" data-number="2" data-tipo="rabbit" value="Activar" id="rabbit2">
			<input type="checkbox" class="dorado" data-number="3" data-tipo="rabbit" value="Activar" id="rabbit3">
		</p>
		<p>
			Dark Knight
			<input type="checkbox" class="dorado" data-number="1" data-tipo="darkknight" value="Activar" id="darkknight1">
			<input type="checkbox" class="dorado" data-number="2" data-tipo="darkknight" value="Activar" id="darkknight2">
			<input type="checkbox" class="dorado" data-number="3" data-tipo="darkknight" value="Activar" id="darkknight3">
		</p>
		<p>
			Devil
			<input type="checkbox" value="Activar" data-number="1" data-tipo="devil" id="devil1">
			<input type="checkbox" value="Activar" data-number="2" data-tipo="devil" id="devil2">
			<input type="checkbox" value="Activar" data-number="3" data-tipo="devil" id="devil3">
		</p>
		<p>
			Soldier
			<input type="checkbox" class="dorado" data-number="1" data-tipo="soldier" value="Activar" id="soldier1">
			<input type="checkbox" class="dorado" data-number="2" data-tipo="soldier" value="Activar" id="soldier2">
			<input type="checkbox" class="dorado" data-number="3" data-tipo="soldier" value="Activar" id="soldier3">
		</p>
		<p>
			Titan
			<input type="checkbox" class="dorado" data-number="1" data-tipo="titan" value="Activar" id="titan1">
			<input type="checkbox" class="dorado" data-number="2" data-tipo="titan" value="Activar" id="titan2">
			<input type="checkbox" class="dorado" data-number="3" data-tipo="titan" value="Activar" id="titan3">
		</p>


		<p>
			Vepar
			<input type="checkbox" value="Activar" data-number="1" data-tipo="vepar" id="vepar1">
			<input type="checkbox" value="Activar" data-number="2" data-tipo="vepar" id="vepar2">
			<input type="checkbox" value="Activar" data-number="3" data-tipo="vepar" id="vepar3">
		</p>
		<p>
			Lizard
			<input type="checkbox" value="Activar" data-number="1" data-tipo="lizard" id="lizard1">
			<input type="checkbox" value="Activar" data-number="2" data-tipo="lizard" id="lizard2">
			<input type="checkbox" value="Activar" data-number="3" data-tipo="lizard" id="lizard3">
		</p>
		<p>
			Wheels
			<input type="checkbox" value="Activar" data-number="1" data-tipo="wheel" id="wheel1">
			<input type="checkbox" value="Activar" data-number="2" data-tipo="wheel" id="wheel2">
			<input type="checkbox" value="Activar" data-number="3" data-tipo="wheel" id="wheel3">
		</p>
		<p>
			Tantalos
			<input type="checkbox" value="Activar" data-number="1" data-tipo="tantalo" id="tantalo1">
			<input type="checkbox" value="Activar" data-number="2" data-tipo="tantalo" id="tantalo2">
			<input type="checkbox" value="Activar" data-number="3" data-tipo="tantalo" id="tantalo3">
		</p>



		<p>
			Golem
			<input type="checkbox" value="Activar" data-number="1" data-tipo="golem" id="golem1">
			<input type="checkbox" value="Activar" data-number="2" data-tipo="golem" id="golem2">
			<input type="checkbox" value="Activar" data-number="3" data-tipo="golem" id="golem3">
		</p>
		<p>
			Crust
			<input type="checkbox" value="Activar" data-number="1" data-tipo="crust" id="crust1">
			<input type="checkbox" value="Activar" data-number="2" data-tipo="crust" id="crust2">
			<input type="checkbox" value="Activar" data-number="3" data-tipo="crust" id="crust3">
		</p>
		<!--<p>
		Satyros
		<input type="checkbox" value="Activar" id="activar">
		<input type="checkbox" value="Activar" id="activar">
		<input type="checkbox" value="Activar" id="activar">
	</p>
	<p>
		Twin Tail
		<input type="checkbox" value="Activar" id="activar">
		<input type="checkbox" value="Activar" id="activar">
		<input type="checkbox" value="Activar" id="activar">
	</p>
	<p>
		Napin
		<input type="checkbox" value="Activar" id="activar">
		<input type="checkbox" value="Activar" id="activar">
		<input type="checkbox" value="Activar" id="activar">
	</p>
	<p>
		Iron Knight
		<input type="checkbox" value="Activar" id="activar">
		<input type="checkbox" value="Activar" id="activar">
		<input type="checkbox" value="Activar" id="activar">
	</p>-->
		<div class="container">
			@*<p>Historial</p>*@
			<ul id="discussion"></ul>
		</div>
	</div>
	<div class="col-lg-4">
		<img src="~/img/urss.jpg" class="img-responsive" />
		<p>Contador de Golden Inva by MATAKO</p>
	</div >

</div>

